@{
    ViewData["Title"] = "Rate a Game";
}

<div class="row">
    <h1 class="col-sm-12">Rate a game</h1>
</div>

<div class="row" style="margin-top:2em">
    <div class="col-md-12 text-center">
        <a href="/games" class="btn btn-primary btn-lg" style="margin:1em" role="button">View games</a>
        <a href="/developers" class="btn btn-primary btn-lg" style="margin:1em" role="button">View developers</a>
    </div>
</div>

